@import '../../styles/tokens.css';

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  flex-shrink: 0;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.pm {
  background-color: var(--blue-100);
  color: var(--blue-600);
}

.engineer {
  background-color: var(--purple-100);
  color: var(--purple-600);
}

.qa {
  background-color: var(--green-100);
  color: var(--green-600);
}

.lead {
  background-color: var(--orange-100);
  color: var(--orange-600);
}
